
.stone {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: darkgray;
    margin: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    cursor: pointer;
}

.stone:active {
    cursor: grabbing;
}